.imagepilihan {
    gap: 2rem;
    text-align: center;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: none;
}