

*, *::before, *::after {
    box-sizing: border-box;
   }


body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header.navbar {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
}

header.navbar .logo img {
    width: 150px;
}

header.navbar .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar .nav-list li {
    list-style-type: none ;
}

header.navbar .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

header.navbar .nav-list li:hover a {
    background-color: #425c77;
    color: white;
}


.destination{
    margin-top: 90px;
}

  .destination h2 {
    text-align: center;
  }

  .card {
    width: 90%;
    box-shadow: 6px 6px 8px 4px #888888; 
    border-radius: 12px;
    padding: 2em 2em;
    align-self:flex-end;
    margin-top: 25px;
    margin-left: 60px;
    display: flex;
    gap: 20px;
  }

  .card p  {
    height: 90px;
  }

  #tempat img{
    width: 50%;
  }


  .teks p{
    gap: 40px;
    height: 80px;
  }

  .tombol {
    display: flex;
    gap: 40px;
  }

.destination .teks button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #2D3E50;
    cursor: pointer;
    transition: all .15s ease-in;
  }
   
 .destination .teks button:hover {
    border: 3px solid #2D3E50;
    color: #2D3E50;
    background-color: transparent;
  }